# .gitignore
PolygonTests/local_settings.py
Radu with TimeScaleDB/env.py
Radu with TimeScaleDB/*.csv 
Radu with TimeScaleDB/last_successful_index.txt
Radu with TimeScaleDB/James.ipynb
ChatGPT_APIApp/local_settings.py
ChatGPT_APIApp/*.txt
ChatGPT_APIApp/OpenAI_app.py
ChatGPT_APIApp/parsed_data.pkl
ChatGPT_APIApp/tests
ChatGPT_APIApp/.ipynb_checkpoints/local_settings-checkpoint.py
Radu with TimeScaleDB/env.py
Radu with TimeScaleDB/.ipynb_checkpoints